<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <!-- 使用注解式注入 -->
    <context:annotation-config />

    <!-- 自动扫描 -->
    <context:component-scan base-package="com.healthyLife.*" />

    <!-- 静态资源 -->
    <!-- html映射 -->
    <mvc:resources mapping="/public/**" location="/CardManagement/public/" />
    <mvc:resources mapping="/login/**" location="/CardManagement/login/" />
    <mvc:resources mapping="/index/**" location="/CardManagement/index/" />
    <mvc:resources mapping="/manage/**" location="/CardManagement/manage/" />


    <!-- js映射 -->
    <mvc:resources mapping="/js/**" location="/CardManagement/public/js/" />
    <mvc:resources mapping="/layui/**" location="/CardManagement/public/layui/" />
    <mvc:resources mapping="/js/**" location="/CardManagement/login/js/" />
    <mvc:resources mapping="/js/**" location="/CardManagement/index/assets/js/" />
    <mvc:resources mapping="/js/**" location="/CardManagement/manage/assets/js/" />

    <!-- css映射 -->
    <mvc:resources mapping="/css/**" location="/CardManagement/login/css/" />
    <mvc:resources mapping="/css/**" location="/CardManagement/index/assets/css/" />
    <mvc:resources mapping="/css/**" location="/CardManagement/manage/assets/css/" />

    <!-- picture映射 -->
    <mvc:resources mapping="/images/**" location="/CardManagement/login/images/" />
    <mvc:resources mapping="/img/**" location="/CardManagement/index/assets/img/" />

    <!-- 导入DAO配置 -->
    <import resource="spring-dao.xml"/>

    <!-- 导入数据库配置 -->
    <import resource="spring-db.xml"/>

    <!-- 导入数据库配置 -->
    <import resource="spring-tx.xml"/>

</beans>