html {
    height: 100%;
    width:100%;
    overflow-y: scroll;
    overflow:auto;
    margin: 0;
}
.body{
    height: 100%;
    width:100%;
    text-align:center;
    overflow:auto;
    margin: 0;
    background:url(../picture/805843.jpg)center no-repeat;
    /*background-size: 100% 100%;*/
    background-size: cover;
}
.home{
    width: 100%;
    height: 100%;
}
.login_info{
    float: left;
    margin-top: 5%;
    height: 70%;
    width: 100%;
}
.number{
    font-size: 15px;
    margin-top: 3%;
    height: 25%;
    width: 60%;

}
.login{
    float: left;
    width: 40%;
    height: 400px;
    margin-top: 10%;
    margin-left: 30%;
    opacity: 0.7;
}
.middle{
    float: left;
    width: 90%;
    height: 80%;
    margin-top: 5%;
    margin-left: 5%;
    background: #DDDDDD;
}
.title{
    height: 20%;
    width: 100%;
}
.login_way_left{
    float: left;
    width: 50%;
    height: 100%;
    line-height: 100%;
    color: #0C0C0C;
    background: #CDC5BF;
}
.login_way_right{
    float: left;
    width: 50%;
    height: 100%;
    line-height: 100%;
    color: #0C0C0C;
    background: #CDC5BF;
}
.login_font{
    float: left;
    margin-top: 10%;
    margin-left: 33%;
}
.login_middle{
    height: 70%;
    width: 100%;
}
.login_sub_a{
    float: left;
    margin-left: 40%;
    width: 20%;
    height: 15%;
    /*background: #0F2543;*/
    text-decoration:none;
    color: white;
    font-size: 20px;
    border-radius:5px;
}
.register{
    float: left;
    font-size: 13px;
    margin-top: 1px;
    margin-left: 5px;
}
/*.login_sub_a{
    float: left;
    width: 100%;
    height: 100%;
    margin-bottom: -10%;
}*/
