<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.healthyLife.mapper.UserMapper">

  <select id="queryOneUserInfoByCondition" parameterType="map" resultType="map">
  SELECT * from mem_user
  <where>
    <if test="account != null">
      and account = #{account}
    </if>
  </where>
  </select>

  <select id="queryListUserInfoByCondition" parameterType="map" resultType="map">
  SELECT * from mem_user
  </select>

  <select id="queryOneAdminInfoByCondition" parameterType="map" resultType="map">
    SELECT * from sys_user
    <where>
      <if test="account != null">
        and account = #{account}
      </if>
    </where>
  </select>

  <select id="queryUserNotice" parameterType="map" resultType="map">
      select * from mem_notice
    <where>
      <if test="notice_id != null">
        and notice_id = #{notice_id}
      </if>
    </where>
  </select>

  <select id="queryPickUpCardUserInfoByCondition" parameterType="map" resultType="map">
    SELECT cp.card_pickup_name,cp.card_pickup_account,
      cp.card_id,cp.card_pickup_phone,cp.card_pickup_addr,mu.account,mu.user_name
    from card_pickup cp
    left join mem_user mu on mu.card_id = cp.card_id
    <!-- 动态sql -->
    <where>
      <if test="account != null">
        and cp.card_pickup_account = #{account}
      </if>
      <if test="user_name != null">
        and cp.card_pickup_name = #{user_name}
      </if>
    </where>
  </select>


</mapper>